* {
    margin: 0;
    padding: 0;
}

#cinza {
    background-color: grey;
    width: 100vw;
    height: 100vh;
}

div {
    position: fixed;
    width: 100px;
    height: 100px;
    background-color: black;

}

#div1 {
    top: 0px;
    left: 0px;
}

#div2 {
    top: 0px;
    left: 105px;
}

#div3 {
    top: 0px;
    left: 210px;
}

#div4 {
    top: 105px;
    left: 0px;
}

#div5 {
    top: 105px;
    left: 105px;
}

#div6 {
    top: 210px;
    left: 0px;
}

#div7 {
    bottom: 0px;
    right: 0px;
}

#div8 {
    bottom: 0px;
    right: 105px;
}

#div9 {
    bottom: 0px;
    right: 210px;
}

#div10 {
    bottom: 105px;
    right: 0px;
}

#div11 {
    bottom: 105px;
    right: 105px;
}

#div12 {
    bottom: 210px;
    right: 0px;
}

